
/*GOOGLE FONT IMPORT
-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Russo+One&display=swap');

/*-----------------------------------------------------






GENERAL SETTINGS
-----------------------------------------------------*/

* {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-special: 'Russo One', sans-serif;
    --clr-background-primary: rgb(34, 34, 34);
    --clr-background-secondary: rgb(55, 55, 55);
    --clr-primary: rgb(255, 255, 255);
    --clr-accent: rgb(72, 126, 174);
}

html {
    font-size: 62.5%;
}


body {
    background-color: var(--clr-background-primary);
    border: 2px solid white;
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-align: center;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------





HEADER AND NAV STYLING
-----------------------------------------------------*/

