
/*GOOGLE FONT IMPORT
-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Russo+One&display=swap');

/*-----------------------------------------------------








GENERAL SETTINGS
-----------------------------------------------------*/

* {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-special: 'Russo One', sans-serif;
    --clr-background-primary: rgb(34, 34, 34);
    --clr-background-secondary: rgb(55, 55, 55);
    --clr-primary: rgb(255, 255, 255);
    --clr-accent: rgb(72, 126, 174);
}


body {
    background-color: var(--clr-background-primary);
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------








GRID SETUP 
-----------------------------------------------------*/

.grid-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1024px) {
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .grid-container {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .about-feature { 
        flex: 1 1 7em; 
    }

    .main { 
        flex: 2 2 7em; 
    }    
    
    
}

/*-----------------------------------------------------








/*
HEADER AND NAV STYLING
-----------------------------------------------------*/

header {
    height: 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-logo {
    color: var(--clr-accent);
    font-family: var(--ff-special);
    font-size: 1.8em;
    margin: 3rem 0 5rem 0;
    width: fit-content;

}

nav {
    text-align: center;
    background: var(--clr-background-primary);
    position: relative;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform .5s ease-in-out;

}

nav ul {
    padding:0;
    margin: 0;
}

nav a {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    height: 100%;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 100;
}

input {
    display: none;
}

nav li {
    height: 100%;
    width: 100%;
    padding: 2rem 0 2rem 0;
    
}

nav li:hover {
    background: var(--clr-accent);
    border: 2px solid var(--clr-primary);
    transition: all .3s ease-in-out;
}

.nav-toggle-label {
    position: fixed;
    top: 17.1rem;
    z-index: 20;
    display: flex;
    justify-content: center;
    background: var(--clr-background-secondary);
    border-bottom: 5px solid var(--clr-primary);
    height: 5rem;
    width: 100%;
    transform: translateY(-17.5rem);
    transition: all .5s ease-in-out;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--clr-primary);
    height: 2.5px;
    width: 1.5em;
    border-radius: 1px;
    position: relative;
    bottom: -2.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    content: "";
    bottom: 6px;
}

.nav-toggle-label span::after {
    content: "";
    top: 6px;
}

/*---------------------------------------------






---------after hamburger is clicked(mobile)--*/

.nav-toggle:checked ~ nav {
    transform: scale(1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity .5s ease-in-out ;
  }

.nav-toggle:checked ~ .nav-toggle-label span{
    
    transform: rotate(90deg);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    opacity: 1;
}
  
.nav-toggle:checked ~ .nav-toggle-label {
    transform: translateY(-1rem);
  }

  


/*NAV BREAKPOINT STYLING
-----------------------------------------------------*/






@media screen and (min-width:768px) {


    nav {
        transform: scale(1,1);
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }

    nav li {
        padding: 1.5rem 0 1.5rem 0;
    }

    nav a {
        opacity: 1;
        font-size: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}
/*-----------------------------------------------------








ABOUT FEATURE SECTION START
-----------------------------------------------------*/

.about-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    width: 100%;
}

.about-feature img {
    background: var(--clr-background-primary);
    width: 150px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15rem;
    height: 11em;
    background: var(--clr-accent);
    border-radius: 1px;
    position: relative;
    top: -4rem;
    z-index: -1;
    outline: 2px solid var(--clr-primary);
    outline-offset: -7px;
}

.about-box-title {
    margin-bottom: 1rem;
}

.about-box h1 {
    font-family: var(--ff-special);
    font-size: 1.5rem;
    padding-top: 2rem;
    color: var(--clr-background-primary);
    letter-spacing: .05rem;
    font-weight: 200;
}

.about-box h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--clr-primary);
    font-weight: 100;
}

/*-----------------------------------------------------








MAIN SECTION LAYOUT
-----------------------------------------------------*/

.main {
    margin-top: 7rem;
}

.page-titles {
    font-family: var(--ff-special);
    color: var(--clr-accent);
    font-size: 2rem;
    margin-top: 0;
}

.card-text-primary {
    font-size: 1.35rem;
    font-weight: 300;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    margin: 0;
    padding: 0 2rem;
}

.card-text-secondary {
    font-size: 2.5rem;
    font-family: var(--ff-primary);
    color: var(--clr-accent);
    margin: 0;
    padding: 1rem 0rem;
}

.card-text-secondary>i {
    margin: 0 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.main-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: .35rem;
    background: var(--clr-background-secondary);
    color: var(--clr-primary);
    cursor: pointer;
    width: auto;
    height: 15rem;
    transition: all .3s ease-in-out;
}


@media screen and (min-width: 768px) {
    .card-text-primary {
        font-size: 1.15rem;
    }

    .card-text-secondary {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 1024px) {

    .card-text-primary {
        font-size: 1.1rem;
        margin: 0 1rem;
        font-weight: 400;
        font-family: var(--ff-primary);
        color: var(--clr-accent);
    }
    
    .card-text-secondary {
        font-size: 1.6rem;
        font-family: var(--ff-primary);
        color: var(--clr-background-secondary);
    }

    .main-item:hover {
        background: var(--clr-accent);
        border: 2px solid var(--clr-primary);
        transition: all .3s ease-in-out;
        transform: scale(1);
    }
}

@media screen and (min-width: 1444px) {

    .card-text-primary {
        font-size: 1.5rem;
    }

    .card-text-secondary {
        font-size: 2rem;
    }
}


/*-----------------------------------------------------









MAIN SECTION BREAKPOINT
-----------------------------------------------------*/

@media screen and (min-width:500px) {

    .main-container {
        margin: 2rem 5rem;
    }
}

@media screen and (min-width:700px) {
    .main-container {
        margin: 2rem 7rem;
    }
}

@media screen and (min-width:768px) {
    .main {
        grid-column: 1 / 4;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;

    }

}

@media screen and (min-width: 1024px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin: 2rem 7rem 2rem 0;
    }

    .main-item-4 {
        grid-column: 1/4;

    }

    .page-titles {
        margin-top: 5rem;
        margin-right: 8rem;
        margin-bottom: 0;
    }
}

/*-----------------------------------------------------









CONTACT PAGE START-----------------------------------*/

.contact-main {
    font-size: 1rem;
    margin: 5.5rem 2rem .85rem 2rem;
}


.contact-main h1 {
    margin: .75rem;
    background: var(--clr-background-secondary);
}

.contact-main i {
    margin: 5rem;
    color: var(--clr-primary);
}


.contact-main h1:hover {
    background: var(--clr-accent);
    outline: 2px solid var(--clr-primary);
    transition: all .25s ease-in-out;
}

@media screen and (min-width:768px) {
    .contact-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15rem 7rem;
    }

    .contact-main i {
        margin: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        height: fit-content;
        margin: 15rem 7rem;
    
    }
}


/*-----------------------------------------------------









ABOUT PAGE START-----------------------------------*/

.about-main {
    border: 2px solid var(--clr-primary);
    margin: 7rem;
    height: 30rem;
}