@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Russo+One&display=swap');


:root {
    --ff-normal: 'Comfortaa';
    --ff-accent: 'Russo One';
    --clr-background-primary: rgb(45, 45, 45);
    --clr-background-secondary: rgb(72, 72, 72);
    --clr-text-main: rgba(255, 255, 255, 0.658);
    --clr-accent: rgb(99, 135, 179);
}

html {
    font-size: 62.5%;
}

body {
    background: var(--clr-background-primary);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

/*heading contact & nav styling---------------------------------*/

.nav-logo {
    color: var(--clr-accent);
    font-family: var(--ff-accent);
    font-weight: 100;
    font-size: 3rem;
    margin: 1rem 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLinkContainer {
    display: flex;
    justify-content: center;
}

.navLink {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: var(--clr-accent);
    color: var(--clr-text-main);
    font-family: var(--ff-normal);
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    height: 2.8rem;
}

.navLink:hover {
    background: var(--clr-background-primary);
    outline: 2px solid var(--clr-text-main);
    transition: .2s ease-in-out;
}

.contact-container {
    padding-top: 1.7rem;
}

.contact-link {
    color: var(--clr-text-main);
    font-size: 2.5rem;
    margin: .5rem;
    padding: .5rem;
}

.contact-link:hover {
    color: var(--clr-accent);
    transition: .3s all ease-in-out;
}

.contact-link i:hover {
    transform: scale(1.5);
    transition: .3s all ease-in-out;
}

@media screen and (min-width: 768px) {
    .nav-logo {
        margin: 1rem 1rem;
    }

    .contact-link {
        color: var(--clr-text-main);
        font-size: 2.5rem;
        margin: 5rem;
    }
}


/*hero styling-----------------------------------------------*/

main {
    margin-top: 5rem;
}


.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.self-image img {
    width: 15rem;
    border: 3px solid var(--clr-text-main);
    border-radius: 5px;
}

.name-card {
    border-radius: 5px;
    background: var(--clr-background-secondary);
    padding: 4rem 5rem 1rem 5rem;
    position: relative;
    top: -4rem;
    z-index: -1;
}

.profile-name {
    font-family: var(--ff-normal);
    font-size: 3rem;
    font-weight: 400;
    color: var(--clr-text-main);
}

.profile-title {
    font-family: var(--ff-normal);
    font-size: 2rem;
    color: var(--clr-accent);
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        justify-content: space-between;
        margin: 5rem 0 5rem 0;
    }

    .hero-container {
        margin-top: 7rem;
        width: 100%;
    }

    .self-image img {
        width: 17rem;
    }

    .name-card {
        width: 20rem;
        height: 17rem;
    }
}


/*projects styling----------------------------------------------*/

.projects-container {
    background: var(--clr-background-secondary);
    border-radius: 5px;
    padding: 3rem 1rem;
    margin: 2rem;
}

.projects-title-main {
    color: var(--clr-accent);
    font-size: 1.7rem;
    font-family: var(--ff-normal);
    margin-bottom: 7rem;
}

.projects-title-main h1 {
    margin: 0;
}


.project-title {
    background: var(--clr-accent);
    color: var(--clr-text-main);
    font-family: var(--ff-normal);
    margin: 1.5rem 7rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 5px;
}

.project-title:hover {
    background: var(--clr-background-primary);
    color: var(--clr-text-main);
    transition: .4s ease-in-out;
    outline: 2px solid var(--clr-text-main);
}


.project-link {
    margin-bottom: 1rem;
    
}

.project-link img {
    max-width: 85%;
    margin-bottom: 5rem;
    border: 3px solid var(--clr-accent);
    border-radius: 5px;
}

.project-link img:hover {
    opacity: .8;
    transform: scale(1.05);
    transition: .4s ease-in-out;
}

@media screen and (min-width: 768px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7rem 1fr 1fr;
    }

    .projects-title-main {
        grid-column: 1 / 3;
    }
}


@media screen and (min-width: 1024px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7rem 1fr 1fr;
        width: 100%;
        height: 100%;
        margin: 0 10rem 5rem 0;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .projects-title-main {
        font-size: 1.8rem;
        grid-column: 1 / 3;
    }


    .project-link a {
        width: 100%;
        height: 100%;
    }

    .project-link img {
        width: 30em;
    }
}

@media screen and (min-width: 1440px) {
    .self-image img {
        width: 20rem;
    }

    .name-card {
        width: 25rem;
        height: 20rem;
    }

    .name-card h1 {
        margin-bottom: 5rem;
    }
}

