@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Russo+One&display=swap');

:root {
    --ff-normal: 'Comfortaa';
    --ff-accent: 'Russo One';
    --clr-background-primary: rgb(45, 45, 45);
    --clr-background-secondary: rgb(72, 72, 72);
    --clr-text-main: rgba(255, 255, 255, 0.658);
    --clr-accent: rgb(99, 135, 179);
}

html {
    font-size: 62.5%;
}

body {
    background: var(--clr-background-primary);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

/*heading contact & nav styling---------------------------------*/

.nav-logo {
    color: var(--clr-accent);
    font-family: var(--ff-accent);
    font-weight: 100;
    font-size: 3rem;
    margin: 1rem 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLinkContainer {
    display: flex;
    justify-content: center;
}

.navLink {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: var(--clr-background-secondary);
    color: var(--clr-text-main);
    font-family: var(--ff-normal);
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    height: 2.8rem;
}

.navLink:hover {
    background: var(--clr-accent);
    transition: .2s ease-in-out;
}

.contact-container {
    padding-top: 1.7rem;
}

.contact-link {
    color: var(--clr-text-main);
    font-size: 2.5rem;
    margin: .5rem;
}

.contact-link:hover {
    color: var(--clr-accent);
    transition: .3s all ease-in-out;
}

@media screen and (min-width: 768px) {
    .nav-logo {
        margin: 1rem 1rem;
    }

    .contact-link {
        color: var(--clr-text-main);
        font-size: 2.5rem;
        margin: 5rem;
    }
}

/*main-styling--------------------------------------------------*/

.main-container {
    margin-top: 10rem;
}

.heading-text {
    color: var(--clr-accent);
    font-size: 3rem;
    font-family: var(--ff-normal);
    margin-bottom: 5rem;
}

.feature-img-container img{
    max-width: 65%;
    border: 3px solid var(--clr-accent);
    border-radius: 5px;
}

.feature-description-container {
    background: var(--clr-background-secondary);
    border-radius: 5px;
    padding: 3rem 3rem;
    margin: 2rem;
    position: relative;
    top: -5rem;
    z-index: -1;
}

.feature-description{
    font-family: var(--ff-normal);
    font-size: 1.7rem;
    color: var(--clr-text-main);

}

@media screen and (min-width: 768px) {
    .feature-img-container img {
        max-width: 45%;
        border: 3px solid var(--clr-accent);
        border-radius: 5px;
    }

    .feature-description-container {
        padding-top: 5rem;
        margin: 0 5rem;
    }

    .feature-description {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .feature-img-container img {
        max-width: 35%;
        border: 3px solid var(--clr-accent);
        border-radius: 5px;
    }

    .feature-description-container {
        padding-top: 5rem;
        margin: 0 5rem;
    }
}