
/*GOOGLE FONT IMPORT
-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Russo+One&display=swap');

/*-----------------------------------------------------





GENERAL SETTINGS
-----------------------------------------------------*/

* {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-special: 'Russo One', sans-serif;
    --clr-background-primary: rgb(34, 34, 34);
    --clr-background-secondary: rgb(55, 55, 55);
    --clr-primary: rgb(255, 255, 255);
    --clr-accent: rgb(92, 152, 236);
}

html {
    height: 100vh;
    width: 100%;
}

body {
    background-color: var(--clr-background-primary);
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    height: 100vh;
    width: 100%;
    letter-spacing: .1em;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------





GRID SETUP
-----------------------------------------------------*/

.grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*-----------------------------------------------------





/*
HEADER AND NAV STYLING
-----------------------------------------------------*/

header {
    height: 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-logo {
    color: var(--clr-accent);
    font-family: var(--ff-special);
    font-size: 3rem;
    margin: 0;

}

nav {
    text-align: center;
    background: var(--clr-background-primary);
    position: relative;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul {
    padding: 2rem 0 2rem 0;
    margin: 0;
}

nav a {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    height: 100%;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 100;
}

input {
    display: none;
}

nav li {
    padding: 2rem 0 2rem 0;
}

nav li:hover {
    color: var(--clr-accent);
}

.nav-toggle-label {
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    background: var(--clr-background-secondary);
    height: 3rem;
    width: 100%;
    transform: translateY(-21.2rem);
    transition: all .4s ease-in-out;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--clr-accent);
    height: 2px;
    width: 1em;
    border-radius: 1px;
    position: relative;
    bottom: -1.2rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    content: "";
    bottom: 6px;
}

.nav-toggle-label span::after {
    content: "";
    top: 6px;
}

/*---------------------------------------------



---------after hamburger is clicked(mobile)--*/

.nav-toggle:checked ~ nav {
    transform: scale(1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity .4s ease-in-out ;
  }

.nav-toggle:checked ~ .nav-toggle-label span{
    transform: rotate(90deg);
}
  
.nav-toggle:checked ~ .nav-toggle-label {
    transform: translateY(-1rem);
    transition: all .4s ease-in-out;
  }

/*-----------------------------------------------------





ABOUT FEATURE SECTION START
-----------------------------------------------------*/

.about-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
}

.about-feature img {
    width: 12rem;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}

.about-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 220px;
    background: var(--clr-accent);
    border-radius: 5px;
    position: relative;
    top: -4rem;
    z-index: -1;
    outline: 2px solid var(--clr-primary);
    outline-offset: 5px;
}

.about-box h1 {
    font-family: var(--ff-special);
    font-size: 1.8rem;
    padding-top: 4rem;
    margin-bottom: .6rem;
    color: var(--clr-background-primary);
    letter-spacing: .05rem;
    font-weight: 200;
}

.about-box h2 {
    font-size: 1.3rem;
    margin: 0;
    color: var(--clr-primary);
    font-weight: 100;
}

/*-----------------------------------------------------





MAIN SECTION LAYOUT
-----------------------------------------------------*/

.main {
    margin-top: 5rem;
}

.page-titles {
    font-family: var(--ff-special);
    color: var(--clr-accent);
    font-size: 2rem;
    margin-top: 0;
}

.card-text-primary {
    position: relative;
    top: -1rem;
    z-index: 1;
    font-size: 1.5rem;
    font-family: var(--ff-special);
    color: var(--clr-accent);
    margin: 0;
    padding: 0 2rem;
}

.card-text-secondary {
    position: relative;
    top: -1rem;
    font-size: 1.5rem;
    font-family: var(--ff-special);
    color: var(--clr-background-secondary);
    margin: 0;
    padding: 0 2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 5rem 5rem;
}

.main-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    background: var(--clr-background-secondary);
    color: var(--clr-primary);
    margin: 1em;
    cursor: pointer;
    height: 20rem;
    transition: all .4s ease-in-out;
}

.main-item:hover {
    background: var(--clr-accent);
    transition: all .4s ease-in-out;
    outline: 2px solid var(--clr-primary);
    outline-offset: 5px;
    transform: scale(1.05);
}


/*-----------------------------------------------------









MAIN SECTION BREAKPOINT
-----------------------------------------------------*/

@media screen and (min-width:768px) {
    .main {
        grid-column: 1 / 4;
    }

    .main-container img {
        height: 250px;
        max-width: 100%;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

}

@media screen and (min-width: 1024px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1.5rem;
    }

    .main-container img {
        max-width: 100%;
        height: 250px;

    }
}

/*-----------------------------------------------------





FOOTER SECTION LAYOUT
-----------------------------------------------------*/

.footer {
    grid-column: 1 / 3;
}

@media screen and (min-width: 768px) {
    .footer {
        grid-column: 1 / 4;
    }
}

/*
FOOTER SECTION STYLING
-----------------------------------------------------*/

.footer {
    color: var(--clr-primary);
    border: 2px solid var(--clr-accent);
}







